.content {
  :global(.swe-table-wrapper .swe-table-container) {
    th:global(.swe-table-selection-column),
    td:global(.swe-table-selection-column) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
